html {
  margin: 0;
  padding: 0;
}

div#root {
  padding: 0;
}

body {
  max-width: 75rem;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 120%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description {
  flex: 1;
  position: relative;
}

.personal_data {
  /* background-color: rgb(17, 177, 226); */
  background-image: linear-gradient(
    to bottom right,
    rgb(140, 201, 218),
    rgb(17, 177, 226)
  );
  flex: 0 0 25%;
  padding-bottom: 5%;
}

.name {
  margin-top: 3.3rem;
  text-align: center;
  font-size: 120%;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 2%;
}

.photo {
  width: 50%;
  height: 10rem;
  margin: auto;
}

.photo_img {
  height: inherit;
}

.info {
  padding-left: 10%;
}

.heading {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 115%;
  padding-top: 2%;
}

.imgLink {
  height: 2rem;
  margin-right: 15px;
  cursor: pointer;
}

.imgLink__footer {
  height: 0.5rem;
  cursor: pointer;
  fill: white;
  margin-right: 0.2rem;
}

.personalLink {
  color: black;
  text-decoration: none;
}

.personalSection {
  height: 2rem;
  display: flex;
  align-items: center;
}

.technology {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
}

.techIconContainer {
  width: 2.3rem;
  display: flex;
  justify-content: center;
}

.techIcon {
  height: 1.8rem;
  margin-right: 15px;
}

.square {
  height: 2.5rem;
  margin-bottom: -0.4rem;
}

.linkedin {
  position: relative;
  top: 4px;
  height: 2rem;
}

.after_icon {
  padding-left: 4%;
}

.give_width {
  flex-basis: 60%;
}

.flag_location {
  position: relative;
  top: 3px;
  height: 1.5rem;
}

.rating_home {
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: space-between;
  padding-right: 10%;
}

.rating_star {
  height: 1rem;
  flex-basis: 30%;
}

.ratingBox {
  margin-top: 5px;
}

/* Experience */
.btn {
  height: 2.3rem;
  width: 3.2rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
  position: absolute;
  top: 0.5%;
  cursor: pointer;
}

.btn-ger {
  background-image: url(../images/lang/gerRect.png);
  right: 2rem;
  background-size: cover;
}

.btn-eng {
  background-image: url(../images/lang/ukRect.png);
  right: 6.5rem;
  background-size: cover;
}

.heading_prof {
  padding-left: 5%;
}

.heading_org {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 100%;
}

.experience {
  padding-top: 2%;
  padding-right: 3%;
}

.title-text {
  font-weight: 700;
}

.line {
  margin: 1.5rem;
  margin-bottom: 1.5rem;
  width: 92%;
}

.line_left {
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 85%;
}

.exp-text {
  width: 85%;
  margin: auto;
  padding-bottom: 0.5rem;
}

.arrow_icon {
  height: 1rem;
  margin-right: 0.25rem;
  position: relative;
  top: 0.2rem;
}

.footer_style {
  background-color: rgb(17, 177, 226);
  padding: 1rem 3rem 1rem 1rem;
  color: whitesmoke;
  text-align: right;
  font-size: 90%;
}

.copy {
  padding-bottom: 1rem;
  font-size: larger;
  font-weight: 600;
}

footer a {
  color: whitesmoke;
  font-size: 60%;
  font-style: italic;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 700px) {
  body,
  div#root {
    font-size: 70%;
  }

  div.container {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  div.personal_data {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  p.name {
    text-align: center;
    font-size: 150%;
  }

  .change_view {
    display: block;
  }

  img.photo_img {
    width: 80%;
    height: 80%;
    margin-left: 8%;
  }

  div.info {
    padding-left: 7%;
    padding-bottom: 3%;
  }

  span.after_icon {
    padding-left: 3%;
  }

  hr.line_left {
    width: 98%;
    margin: 0;
  }

  hr.line {
    width: 100%;
    margin: 0;
    padding: 0%;
  }

  p.heading_prof {
    padding-left: 6%;
    padding-top: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  div.exp-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: left;
    margin-left: 6%;
  }

  .footer_style {
    font-size: 90%;
    padding: 0.5rem 1rem;
    text-align: start;
  }
}
