body, #root {
  width: 1200px;
  padding-left: 5%;
  margin-bottom: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2rem auto;
  box-sizing: border-box;
}
.container{
  display: flex;
  
}

.description{
  flex-basis: 75%;
}
.personal_data{
  background-color: rgb(17, 177, 226);
  flex-basis: 25%;
  padding-bottom: 5%;
}

.name{
  margin-top: 3.3rem;
  text-align: center;
  font-size: 120%;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 2%;
}
.photo{
  width: 50%;
  height: 10rem;
  margin: auto;
}
.photo_img{
 height: inherit;

}
.info{
  padding-left: 10%;
}
.heading{
  text-transform: uppercase;
  font-weight: 550;
  font-size: 115%;
  padding-top: 2%;
}

.email::before{
  content: url(../src/images/favicon_mail/favicon-16x16.png);
  position: relative;
  top: 4px;
}

.mobile::before{
  content:url(../src/images/favicon_mobile/favicon-16x16.png);
  position: relative;
  top: 4px;
}

.house::before{
  content:url(../src/images/favicon_house/favicon-16x16.png);
  position: relative;
  top: 4px;
}
.html_logo{
  background-color: transparent;
  background-size:30%;
}

.after_icon{
  padding-left: 4%;
  
}
.give_width{
  flex-basis: 60%;
}

.flag_location{
  position: relative;
  top: 3px;
}

.rating_home{
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: space-between;  
  padding-right: 10%;
}
.rating_star{
  height: 4rem;
  flex-basis: 30%;
  margin: 0;
}
/* Experience */
.heading_prof{
  padding-left: 5%;
}
.heading_org{
  text-transform: uppercase;
  font-weight: 550;
  font-size: 100%;
}
.experience{
  padding-top: 2%;
}
.title-text{
  font-weight: 700;
}
.line{
  margin: 1.5rem;
  margin-bottom: 1.5rem;
  width:92%

}
.line_left{
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width:85%
}
.exp-text{
  width: 85%;
  margin: auto;
  padding-bottom: 0.5rem;
}
.arrow_icon{
  height: 1rem;
  margin-right: 0.25rem;
  position: relative;
  top: 0.2rem;
}

footer{
  background-color:  rgb(17, 177, 226);
  padding: 2rem;
  color: whitesmoke;
  text-align: right;
  font-size: 80%;
}

footer a {
  color: whitesmoke;
  font-size: 60%;
}

/* ///////////////////////////////// */
@media screen and (max-width: 900px){
  body{
    margin: 0;
    padding: 0;
  }
  #root{
    margin: 0;
    padding: 0;
  }
  
  .container{
    margin-top: 0;
    display: block;
    padding-top: 10%;
  }
  .personal_data{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;

  }
  .name{
    font-size: 180%;
  }
  .photo{
    width: 80%;
    height: 20rem;
  
  }
  .description{
    font-size: 150%;

  }
  footer{
    text-align: center;
  }
  
  
}